<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="15.0">
    ...
    <Rules AnalyzerId="System.Runtime.Analyzers" RuleNamespace="System.Runtime.Analyzers">
        <Rule Id="CA1305" Action="None" />
        <!--<Rule Id="CA1801" Action="Error" />-->
    </Rules>
</RuleSet>